body {background-color: #8c8c8c;}
.header {font-family: "Lato", sans-serif}
p {
 color: WHite;
 position: relative;  
     left: 1px;
	bottom: 1px;
}
h1 {
  color: White;
  position: relative;  
     left: 1px;	
        bottom: 1px;
}
.content {
        padding: 15px;
} 
